*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    user-select: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

body {
    margin: 0;
    height: fit-content;
    min-height: 100vh;
    min-height: 100svh;
    overflow: hidden;
}

.page {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    padding: 28px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #EDF6FF;
}

.shop {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 90px 140px;
    align-content: end;
    justify-content: center;
}

.shelfes {
    width: 72vw;
    max-width: 300px;
    min-height: 350px;
    height: 71vh;
    height: 71svh;
    max-height: 600px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-template-rows: 17fr 12fr 12fr 23fr;
    position: relative;
    z-index: 2;
    perspective: 1000px;
    transform-style: preserve-3d;

    grid-area: 1 / 1 / 3 / -1;
}

.shelfes>* {
    width: 94%;
    margin-top: -1px;
}

.shelfes::before {
    content: "";
    position: absolute;
    top: -2px;
    z-index: 2;
    width: 100%;
    aspect-ratio: 35 / 10;
    background: url('./assets/top.svg') 50% 50% no-repeat;
    background-size: cover;
}

.shelfes>*:not(.shelf:first-of-type) {
    box-shadow: inset 0 var(--shadow-y) var(--shadow-color);
}

.shelf {
    --shadow-y: 40px;
    --shadow-color: #1D2A36;
    background-color: #34495E;
    position: relative;
    perspective: 1000px;
    perspective-origin: center -50px;
    transform-style: preserve-3d;
}

.shelf__base {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    width: 100%;
    height: 85px;
    transform-style: preserve-3d;
    transform-origin: center center 50px;
    transform: rotateX(85deg);
}

.base__side {
    position: absolute;
    width: 100%;
}

.base__top {
    background-color: #F39C12;
    height: 100%;
}

.base__bottom {
    bottom: 0;
    background-color: #F1C40F;
    height: 8px;
    transform: translateY(4px) translateZ(-4px) rotateX(90deg);
}

.shelf:nth-last-of-type(2) .base__top {
    background-color: #E3E7E8;
}

.shelf:nth-last-of-type(2) .base__bottom {
    bottom: 0;
    background-color: #BDC3C7;
    height: 20px;
    transform: translateY(10px) translateZ(-10px) rotateX(90deg);
}

.shelfes .bottom {
    --shadow-y: 64px;
    --shadow-color: #D35400;
    background-color: #E67E22;
}

.checkout {
    grid-area: 2 / 1 / -1 / -1;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 96px;
}

.checkout__cart {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    position: relative;
    overflow: hidden;
}

.cart__space {
    position: absolute;
    top: 0;
    left: 64px;
    right: 48px;
    bottom: 48px;
}

.checkout__button {
    place-self: center;
    padding: 1.1em 1.2em;
    color: #21201F;
    font-weight: 500;
    font-size: 1rem;
    background-color: #FCE000;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

.checkout__cart.empty+.checkout__button {
    pointer-events: none;
    visibility: hidden;
    scale: 0;
}

.draggable {
    --top: 0;
    --left: 0;
    width: fit-content;
    position: absolute;
    z-index: 3;
    left: var(--left);
    top: var(--top);

    cursor: grab;
}

.draggable.is-dragging {
    z-index: 10;
    cursor: grabbing;
    scale: 1.1;
    filter: brightness(1.1);
}

.draggable img {
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .shelfes {
        perspective: 1000px;
        transform-style: preserve-3d;
        animation: showup .3s ease-in-out 1 forwards;
    }

    .shelfes>*:not(.shelf:first-of-type) {
        box-shadow: inset 0 0 var(--shadow-color);
        animation: shadowAppear .3s ease var(--delay-shadow) 1 forwards;
    }

    .shelf {
        perspective: 1000px;
        perspective-origin: center -50px;
        transform-style: preserve-3d;
    }

    .shelf__base {
        transform-style: preserve-3d;
        transform-origin: center center 50px;
        transform: rotateX(85deg);

        visibility: hidden;
        animation: place .6s ease var(--delay-place) 1 forwards;
    }

    .shelf:nth-of-type(1) {
        --delay-place: .5s;
    }

    .shelf:nth-of-type(2) {
        --delay-place: .6s;
        --delay-shadow: .8s;
    }

    .shelf:nth-of-type(3) {
        --delay-place: .7s;
        --delay-shadow: .9s;
    }


    .shelfes .bottom {
        --shadow-y: 64px;
        --shadow-color: #D35400;
        --delay-shadow: 1s;
        background-color: #E67E22;
    }

    .checkout__cart {
        --starting-offset: -100%;
        --roll-in-time: 0.4s;
        opacity: 0;
        translate: -100%;
        animation: rollIn var(--roll-in-time) ease-out 2.9s 1 forwards;
    }

    .checkout__button {
        transition: .3s ease-in-out;
        transition-property: filter, scale, box-shadow;
    }

    @media (hover: hover) {
        .checkout__button:where(:hover, :focus-visible) {
            scale: 1.05;
            filter: brightness(1.05);
            box-shadow: 0 0 10px rgb(33, 32, 31, .5);
        }
    }

    .checkout__button:active {
        scale: .95;
        filter: brightness(.95);
        box-shadow: inset 0 0 10px rgb(33, 32, 31, .5);
    }

    .draggable {
        --left: 0;
        --top: 0;
        --delay: 1.4s;
        left: -100px;
        top: -100px;
        animation: flyToPlace .4s ease-in-out var(--delay) 1 forwards;
    }
}

@keyframes showup {
    from {
        translate: 0 -20%;
    }

    to {
        translate: 0 0;
    }
}

@keyframes shadowAppear {
    from {
        box-shadow: inset 0 0 var(--shadow-color);
    }

    to {
        box-shadow: inset 0 var(--shadow-y) var(--shadow-color);
    }
}

@keyframes place {
    0% {
        visibility: hidden;
        translate: 100% 0 50px;
    }

    50% {
        visibility: visible;
        translate: 0 0 50px;
    }

    100% {
        visibility: visible;
        translate: 0 0 0;
    }
}

@keyframes flyToPlace {
    from {
        left: -100px;
        top: -100px;
    }

    to {
        left: var(--left);
        top: var(--top);
    }
}

@keyframes rollIn {
    0% {
        opacity: 0;
        translate: var(--starting-offset) 0;
    }

    25% {
        opacity: 1;
        translate: -75% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@media (min-width: 800px) {

    .page {
        justify-content: center;
    }

    .shop {
        grid-template-rows: 1fr 60px;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
        align-content: end;
        justify-content: center;
    }

    .shelfes {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
    }

    .shelf {
        --shadow-y: 60px;
    }

    .shelfes .bottom {
        --shadow-y: 84px;
    }

    .checkout {
        z-index: 1;
        grid-area: 1 / 1 / -1 / -1;
        z-index: 2;
        display: flex;
        flex-flow: row-reverse;
        align-items: end;
    }

    .checkout__cart {
        --starting-offset: -200%;
        --roll-in-time: .8s;
        display: grid;
        place-content: center;
    }

    .cart__space {
        right: 24px;
        bottom: 148px;
    }

    .checkout__button {
        margin-top: auto;
    }

    .draggable {
        z-index: 3;
    }
}