*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
}

.page {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    padding: 28px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #EDF6FF;
}

.shop {
    display: grid;
    grid-template-rows: 1fr 90px 140px;
    align-content: end;
}

.shelfes {
    width: 211px;
    height: fit-content;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-template-rows: 103px 74px 74px 138px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    grid-area: 1 / 1 / 3 / -1;
}

.shelfes>* {
    width: 198px;
    margin-top: -1px;
}

.shelfes::before {
    content: "";
    position: absolute;
    top: -2px;
    z-index: 2;
    width: 211px;
    height: 60px;
    background: url('./assets/top.svg') 50% 50% no-repeat;
}

.shelfes>*:not(.shelf:first-of-type) {
    box-shadow: inset 0 var(--shadow-y) var(--shadow-color);
}

.shelf {
    --shadow-y: 40px;
    --shadow-color: #1D2A36;
    background-color: #34495E;
    position: relative;
    perspective: 1000px;
    perspective-origin: center -50px;
    transform-style: preserve-3d;
}

.shelf__base {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;
    height: 75px;
    transform-style: preserve-3d;
    transform-origin: center center 50px;
    transform: rotateX(85deg);
}

.base__side {
    position: absolute;
    width: 100%;
}

.base__top {
    background-color: #F39C12;
    height: 100%;
}

.base__bottom {
    bottom: 0;
    background-color: #F1C40F;
    height: 8px;
    transform: translateY(4px) translateZ(-4px) rotateX(90deg);
}

.shelf:nth-last-of-type(2) .base__top {
    background-color: #E3E7E8;
}

.shelf:nth-last-of-type(2) .base__bottom {
    bottom: 0;
    background-color: #BDC3C7;
    height: 20px;
    transform: translateY(10px) translateZ(-10px) rotateX(90deg);
}

.shelfes .bottom {
    --shadow-y: 64px;
    --shadow-color: #D35400;
    background-color: #E67E22;
}

.checkout {
    grid-area: 2 / 1 / -1 / -1;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 96px;
    overflow: hidden;
}

.checkout__cart {
    grid-area: 1 / -1;
}

.checkout__button {
    place-self: center;
    padding: 1.1em 1.2em;
    color: #21201F;
    font-weight: 500;
    font-size: 1rem;
    background-color: #FCE000;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .shelfes {
        perspective: 1000px;
        transform-style: preserve-3d;
        animation: showup .3s ease-in-out 1 forwards;
    }

    .shelfes>*:not(.shelf:first-of-type) {
        box-shadow: inset 0 0 var(--shadow-color);
        animation: shadowAppear .3s ease var(--delay-shadow) 1 forwards;
    }

    .shelf {
        perspective: 1000px;
        perspective-origin: center -50px;
        transform-style: preserve-3d;
    }

    .shelf__base {
        transform-style: preserve-3d;
        transform-origin: center center 50px;
        transform: rotateX(85deg);

        visibility: hidden;
        animation: place .6s ease var(--delay-place) 1 forwards;
    }

    .shelf:nth-of-type(1) {
        --delay-place: .5s;
    }

    .shelf:nth-of-type(2) {
        --delay-place: .6s;
        --delay-shadow: .8s;
    }

    .shelf:nth-of-type(3) {
        --delay-place: .7s;
        --delay-shadow: .9s;
    }


    .shelfes .bottom {
        --shadow-y: 64px;
        --shadow-color: #D35400;
        --delay-shadow: 1s;
        background-color: #E67E22;
    }

    .checkout__button {
        transition: .3s ease-in-out;
        transition-property: filter, scale, box-shadow;
    }

    @media (hover: hover) {
        .checkout__button:where(:hover, :focus-visible) {
            scale: 1.05;
            filter: brightness(1.05);
            box-shadow: 0 0 10px rgb(33, 32, 31, .5);
        }
    }

    .checkout__button:active {
        scale: .95;
        filter: brightness(.95);
        box-shadow: inset 0 0 10px rgb(33, 32, 31, .5);
    }
}

@keyframes showup {
    from {
        translate: 0 -20%;
    }

    to {
        translate: 0 0;
    }
}

@keyframes shadowAppear {
    from {
        box-shadow: inset 0 0 var(--shadow-color);
    }

    to {
        box-shadow: inset 0 var(--shadow-y) var(--shadow-color);
    }
}

@keyframes place {
    0% {
        visibility: hidden;
        translate: 100% 0 50px;
    }

    50% {
        visibility: visible;
        translate: 0 0 50px;
    }

    100% {
        visibility: visible;
        translate: 0 0 0;
    }
}